{% block title %} {{ _("My Profile") }} {% endblock %}

{% block header %}<h2>{{ _("My Profile") }} </h2>{% endblock %}

{% block content %}
<div class="user-content" style="max-width: 500px;">
    <ul class="breadcrumb">
    	<li><a href="index">{{ _("Home") }}</a></li>
    	<li class="active"><i class="icon-user icon-fixed-width"></i> {{ _("My Profile") }} </li>
    </ul>
	<div class="alert alert-warning" id="message" style="display: none;"></div>
	<form>
		<fieldset>
			<label>{{ _("Full Name") }} </label>
			<input class="form-control" type="text" id="fullname" placeholder="{{ _('Full Name') }}">
		</fieldset>
		<fieldset>
			<label>{{ _("Company Name") }} </label>
			<input class="form-control" type="text" id="company_name" placeholder="{{ _('Company Name') }}" value="{{ company_name }}">
		</fieldset>
		<fieldset>
			<label>{{ _("Mobile No") }}</label>
			<input class="form-control" type="text" id="mobile_no" placeholder="{{ _('Mobile No') }}" value="{{ mobile_no }}">
		</fieldset>
		<fieldset>
			<label>{{ _("Phone") }}</label>
			<input class="form-control" type="text" id="phone" placeholder="{{ _('Phone') }}" value="{{ phone }}">
		</fieldset>
		<button id="update_user" type="submit" class="btn btn-default">{{ _("Update") }}</button>
	</form>
</div>
<script>
$(document).ready(function() {
	$("#fullname").val(getCookie("full_name") || "");
	$("#update_user").click(function() {
		frappe.call({
			method: "shopping_cart.templates.pages.user.update_user",
			type: "POST",
			args: {
				fullname: $("#fullname").val(),
				company_name: $("#company_name").val(),
				mobile_no: $("#mobile_no").val(),
				phone: $("#phone").val()
			},
			btn: this,
			msg: $("#message"),
			callback: function(r) {
				if(!r.exc) $("#user-full-name").html($("#fullname").val());
			}
		});
		return false;
	})
})
</script>
<!-- no-sidebar -->
{% endblock %}

